:root{
    --red: #F50006;
    --blue: #1458AA;
    --cream: #EFEFEF;
}
.PreHeaderContainer{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    background-color: var(--cream);
}

.DataContainer{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.WhatsappDataContainer, .SiguenosContainer{
    display: flex;
    align-items: center;
}

.WhatsappDataContainer > p{
    padding-left: 10px;
}

.SiguenosContainer > img{
    padding-left: 10px;
}

.WhatsappDataContainer, .SiguenosContainer > p{
    font-size: 15px;
}

.Container{
    display: flex;
    justify-content: center;
    height: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.nav-container{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}


/* This is Image And Text component css styles */
.BannerContainer{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}

.BannerContainer-Picture{
    grid-area: 1/1/2/2;
    height: 350px;
}

.BannerContainer-text{
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
}

.BannerContainer-text > p{
    color: var(--cream);
    border-bottom: solid var(--cream);
    width: 20px;
    margin-left: 40px;
    font-size: 20px;
    margin-top: 0px;  
    margin-bottom: 5px;  
}

.BannerContainer-Picture > img{
    height: 100%;
    width: 100%;
}

/* This is grid products component css */
.ProductImageContainer{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    height: 210px;
}

.ProductImageContainer > img{
    width: 100%;
    height: 100%;
    grid-area: 1/1/2/2;
}

.ProductImageContainer > p{
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: 12px;
}

/* Grid Porducts component css */
.OwnProducts{
    background-color:var(--cream);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

.OwnProductsContainer{
    padding: 5px;
    width: 95%;
}

.OwnProductsContainer-Images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.AllScreen{
    /* grid-area: 2/1/2/2 span; */
    grid-column-start: 1;
    grid-column-end: 2;
}

/* everything below are styles for slide component */

.SliderContainer{
    display: flex;
    height: 300px;
    justify-content: center;
}

.SliderContainerMargin{
    width: 95%;
}

.SliderContainerMargin > p{
    padding-top: 5px;
    padding-bottom: 5px;
}

.SliderContainerMargin-image{
    display: flex;
    align-items: center;
    overflow-y: hidden;
}

.imageContainer{
    padding-left: 20px;
}

.imageContainer > img{
    height: 225px;
    width: 225px;
    object-fit: cover;
}

