:root{
    --red: #F50006;
    --blue: #1458AA;
    --cream: #EFEFEF;
}
.PreHeaderContainer{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    background-color: var(--cream);
}

.DataContainer{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.WhatsappDataContainer, .SiguenosContainer{
    display: flex;
    align-items: center;
}

.WhatsappDataContainer > p{
    padding-left: 10px;
}

.SiguenosContainer > img{
    padding-left: 10px;
}

.WhatsappDataContainer, .SiguenosContainer > p{
    font-size: 15px;
}

.Container{
    display: flex;
    justify-content: center;
    height: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.nav-container{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}


.BannerContainer{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}

.BannerContainer-Picture{
    width: 100%;
    grid-area: 1/1/2/2;
}

.BannerContainer-text{
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
}

.BannerContainer-text > p{
    color: #EFEFEF;
    border-bottom: solid #EFEFEF;
    width: 20px;
    margin-left: 40px;
    font-size: 20px;
    margin-top: 0px;  
    margin-bottom: 5px;  
}

.BannerContainer-Picture > img{
    width: 100%;
}

.ProductImageContainer{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}

.ProductImageContainer > img{
    width: 100%;
    height: 100%;
    grid-area: 1/1/2/2;
}

.ProductImageContainer > p{
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: 12px;
}

.OwnProducts{
    background-color: var(--cream);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.OwnProductsContainer{
    width: 95%;
}

.OwnProductsContainer-Images{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 200px;
    gap: 5px;
}

.AllScreen{
    grid-area: 1/1/1/3;
    grid-row: 2/2;
    margin-bottom: 15px;
}




